{% extends "base.html" %}

{% load bootstrap3 %}
{% block content %}

{% include "navbar.html" %}


<head>
<style>
.button {
  background-color: #2196F3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%
}
</style>
<br>
<br>

 <div class="content-section" style="margin-left:30px;">
    <div class="media">
    {% if user.profile.profile_image %}
    
    <img src="{{user.profile.profile_photo.url}}" style="border-radius: 50%; width:250px;height:250px;" alt="image">
    {% else %}
    <img src="/static/images/default.jpeg" style="border-radius: 50%; width:250px;height:250px;" alt="image">
    {%endif%}
    <div class="media-body">
      <h2 class="account-heading" style=" font-family: 'ABeeZee', sans-serif;">{{ user.username }}</h2>
      <p class="text-secondary" style="font-family: 'ABeeZee', sans-serif;">{{ user.email }}</p>
      <p class="text-secondary" style="font-family: 'ABeeZee', sans-serif;">{{ user.profile.user_bio }}</p>
      <a href="#" class="button">Edit Profile</a>
    </div>
    </div>
    <form  action="/accounts/register/" method="post">
       {{ form.media }}
        {% csrf_token %}
                             
        <input type="hidden" name="next" value="{{next}}">
                      
    </form>
    
    <br>
    <br>
    <br>
                      
                              
  <h1 style="font-family: 'ABeeZee', sans-serif;;">My Images</h1>
                      
  {%for project in projects %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="photos">
      <p style="font-family: 'ABeeZee', sans-serif;;">{{ project.poster }}</p>
      <img src="{{ project.image.url }}" class="img-responsive"  alt="Image" style="width:100%; height:350px; padding-left:0px; padding-right:0px;" data-toggle="modal" data-target="#{{image.id}}">
    </div> 
  {%endfor%}
    </div>
  {% endblock %}